@import "tailwindcss";

@layer base {
  body {
    color: var(--color-text);
    font-family: var(--font-serif);
    line-height: var(--leading-tight);
    background-color: var(--color-background);
    font-optical-sizing: auto;
    font-weight: 360;
  }

  h1 {
    font-size: var(--text-5xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl);
  }

  h5 {
    font-size: var(--text-lg);
  }
}

@layer components {
  .input-border:focus-within::before {
    transform: scale(100%);
  }

  .input-border::before {
    content: "";
    height: calc(100% + var(--spacing));
    width: calc(100% + var(--spacing));
    position: absolute;
    left: -2px;
    z-index: -1;
    background-color: var(--color-accent);
    border-radius: calc(var(--spacing) * 2.5);
    transition: all var(--default-transition-duration) ease-in-out;
    transform: scale(85%);
  }

  .blur-up,
  .blur-down,
  .blur-right,
  .blur-left,
  .blur-topright {
    position: relative;
  }

  .blur-down::before {
    content: "";
    height: calc(100% + 2.5rem);
    width: max(calc(100vw - 1rem), calc(100% + 2.5rem));
    position: absolute;
    top: -1.25rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    overflow: hidden;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      black 40%,
      black 100%
    );
    mask-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      black 30%,
      black 100%
    );
  }

  .blur-up::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-mask-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      black 40%,
      black 100%
    );
    mask-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      black 30%,
      black 100%
    );
  }

  .blur-right::before {
    content: "";
    height: calc(100% + 1.25rem);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-mask-image: linear-gradient(
      90deg,
      black 0%,
      black 15rem,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
      90deg,
      black 0%,
      black 13rem,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .blur-diagright::before {
    content: "";
    height: calc(100% + 1.25rem);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-mask-image: linear-gradient(
      45deg,
      black 0%,
      black 16rem,
      rgba(0, 0, 0, 0) 100%
    );
    mask-image: linear-gradient(
        0deg,
        black 0%,
        black 50%,
        rgba(0, 0, 0, 0) 100%
      ),
      linear-gradient(
        90deg,
        black 0%,
        rgba(0, 0, 0, 0.9) 16rem,
        rgba(0, 0, 0, 0) 100%
      );
  }

  .expand-map::before {
    content: "Click to Interact";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--default-transition-duration) ease-in-out;
  }

  .expand-map:hover::before {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container {
    width: 100%;
  }

  .hover-underline {
    position: relative;
  }

  .hover-underline:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.15rem;
    top: 1.6rem;
    background-color: var(--color-text);
  }

  .dropdown-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .university-dropdown::before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5rem);
    height: 100%;
    top: 0;
    left: -0.4rem;
    z-index: -1;
    background-color: rgba(var(--color-rgba-background-dim), 0);
    border-radius: calc(var(--spacing));
    transition: all var(--default-transition-duration) ease-in-out;
  }

  .university-dropdown:hover::before {
    background-color: var(--color-background-dim);
  }
}

@theme {
  --color-text: #044c3b;
  --color-text-dim: #4ba590;
  --color-background: #f7f4e9;
  --color-background-light: #fffdf4;
  --color-background-dim: #e9e6dc;
  --color-primary: #f56960;
  --color-secondary: #d8d4f9;
  --color-secondary-light: #f1f0ff;
  --color-accent: #1da8ff;

  /* rgba values for each of the colours above */
  --color-rgba-text: 4, 76, 59;
  --color-rgba-text-dim: 75, 165, 144;
  --color-rgba-background: 247, 244, 233;
  --color-rgba-background-light: 255, 253, 244;
  --color-rgba-background-dim: 233, 230, 220;
  --color-rgba-primary: 245, 105, 96;
  --color-rgba-secondary: 216, 212, 249;
  --color-rgba-secondary-light: 241, 240, 255;
  --color-rgba-accent: 29, 168, 255;

  --font-serif: "Source Serif 4", "serif";
  --font-weight-bold: 700;

  --text-3xl: 2rem;
  --text-2xs: 0.625rem;

  --shadow-below: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-above: 0 -4px 8px rgba(0, 0, 0, 0.1);

  --home-logo-cols: repeat(auto-fit, minmax(225px, 1fr));
  --event-card-cols: repeat(auto-fit, minmax(280px, 1fr));

  --breakpoint-xs: 32rem;
}

@font-face {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
